        @font-face {
            font-family: 'Pacifico';
            src: url('My files/Fonts/Pacifico-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'GreatVibes';
            src: url('My files/Fonts/GreatVibes-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'JosefinSans';
            src: url('My files/Fonts/JosefinSans-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Chivo';
            src: url('My files/Fonts/Chivo-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Montserrat';
            src: url('My files/Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'SpaceMono';
            src: url('My files/Fonts/SpaceMono-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Lora';
            src: url('My files/Fonts/Lora-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'Montserrat', sans-serif;
            background-image: url('Backgrounds/water-explosion-abstract-99.jpg');
            background-size: cover;
            /*background-attachment: fixed;*/
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-family: 'Pacifico', sans-serif;
            text-align: center;
            margin-bottom: 30px;
            font-size: 42px; /* Adjust the size as needed */
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            margin-bottom: 30px;
            font-size: 28px; /* Adjust the size as needed */
        }
        h3 {
            font-family: 'GreatVibes', sans-serif;
            text-align: center;
            margin-bottom: 20px;
            font-size: 36px; /* Adjust the size as needed */
        }
        .tabs {
            font-family: 'SpaceMono', sans-serif;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .tabs a {
            font-family: 'SpaceMono', sans-serif;
            margin: 0 10px;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 30px;
            transition: background-color 0.5s, transform 0.3s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: inline-block;
            text-align: center;
        }
        .tabs a:hover {
            background-color: #555;
            transform: scale(1.05);
        }
        .tabs a.active {
            background-color: #007FAB;
        }
       .tabs a.nested.active {
            background: linear-gradient(to bottom, #007FAB, #884d19); /* Gradient from purple to red, top to bottom */
            /*border-radius: 5px;*/
        }
        .tabs a.nested {
            background-color: #884d19;
            border-radius: 5px;
            animation: pulse 5s infinite;
        }
        .tab-content {
            display: none;
            animation: fadeIn 1s;
        }
        .tab-content.active {
            display: block;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes pulse {
            0% {
                transform: scale(0.9);
            }
            50% {
                transform: scale(1);
            }
            100% {
                transform: scale(0.9);
            }
        }
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
        @keyframes wiggle {
            0%, 100% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(-5deg);
            }
            75% {
                transform: rotate(5deg);
            }
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            .tabs a {
                padding: 8px 16px;
                margin: 0 5px;
            }
        }
        strong {
            color: #007FAB;
        }
        footer {
            text-align: center; /* Center-aligns the text */
            font-weight: bold; /* Makes the text bold */
        }
